# Ignore virtual environment
venv/

# Ignore node_modules in vuefrontend and root
vuefrontend/node_modules/
vuefrontend/dist/

node_modules/

# Ignore other common files and directories
__pycache__/
.DS_Store
*.pyc
*.pyo
.env

.idea/

### VisualStudioCode template
.vscode/

db/